{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron-fluid">
    <div class="row bg-warning no-gutters mb-2">
        <div class="col-md-6">
            {% load static %}
            <!-- For collapsed imgs -->
            <img srcset="{% static "img/hero-576.jpg" %} 576w,
                         {% static "img/hero-768.jpg" %} 768w,
                         {% static "/img/hero-1.jpg" %} 1w"
                 sizes="(max-width: 576px) 576px,
                        (max-width: 768px) 768px,
                        1px"
                 src="{% static "/img/hero-576.jpg" %}"
                 class="img-fluid d-block d-md-none" alt="bicyclist in yellow jersey descending hill"/>
            <img srcset="{% static "img/hero-1.jpg" %} 768w,
                         {% static "/img/hero-992.jpg" %} 992w,
                         {% static "/img/hero-1200.jpg" %} 1200w,
                         {% static "/img/hero-2400.jpg" %} 2400w"
                 sizes="(max-width: 768px) 768px,
                        (max-width: 992px) 992px,
                        (max-width: 1200px) 1200px,
                        2400px"
                 src="{% static "/img/hero-1.jpg" %}"
                 class="img-fluid d-none d-md-block" alt="bicyclist in yellow jersey descending hill"/>
        </div>
            <div class="col-md-6 align-middle">
                <div class="px-4">
                    <h1 class="display-4 font-weight-bold">Too Much Training?<br>Too Little?</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn-danger btn-lg mb-2" type="submit" value="Find Out With 30-Day Free Trial">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xl-6 ml-auto mr-auto">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">How It Works</h2>
                </div>
                <div class="card-body">
                    <p><i>TopTrainingPlan</i> guarantees more power, more endurance and less injuries by customizing your plan based on similar athletes.</p> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
