{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-8 ml-auto mr-auto">
        <div class="mb-3">
            <form method="POST" enctype="multipart/form-data">
                {{ form.non_field_errors }}
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Upload .fit File" class="btn btn-success">
            </form>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Training Calendar</h1>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {{ training_data_html }}
                </div>
            </div>
    </div>
</div>
{% endblock %}
