<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>TopTrainingPlan</title>
    </head>
    <body>
    <div class="container-fluid">
        <nav class="nav navbar navbar-expand-lg p-1">
            <a class="navbar-brand nav-link font-italic font-weight-bold disabled" href="#">TopTrainingPlan</a>
            <div class="hidden-xs collapse navbar-collapse">
                <ul class="nav navbar">
                    <li><a class="nav-link" href="#">About</a></li>
                    <li><a class="nav-link" href="#">Articles</a></li>
                </ul>
            </div>
            <ul class="nav navbar ml-auto">
                <li><a class="nav-link" href="#">Login</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
